<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <% if (user) { %>
    <h1>You are logged in as <%= user.name %> <%= user.surname %></h1>

    <% if (locals.message) { %>
    <p style="color: red"><%= message %></p>
    <% } %>

    <form action="/login/join-the-club" method="POST">
      <label for="member_passcode">
        Enter the secret passcode to join the club:
      </label>
      <input type="text" name="member_passcode" id="member_passcode" />
      <button type="submit">Join Now</button>
    </form>

    <% } else { %>
    <h1>Please Log In</h1>
    <form action="/login" method="POST">
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" />
      <label for="password">Password:</label>
      <input type="text" name="password" id="password" />
      <button type="submit">Log in</button>
    </form>
    <p>Not a User? <a href="/sign-up">Sign Up</a></p>
    <% } %>
  </body>
</html>
